In [45]:
import glob 
import pandas as pd 
from datetime import datetime 
import os
import requests
from bs4 import BeautifulSoup
import sqlite3

In [46]:
url = 'https://web.archive.org/web/20230902185655/https://en.everybodywiki.com/100_Most_Highly-Ranked_Films'
db_name = 'Movies.db'
table_name = 'Top_50'
csv_path = 'top_50_films.csv'
df = pd.DataFrame(columns=["Average Rank","Film","Year"])
count = 0

In [47]:

response = requests.get(url).text

data = BeautifulSoup(response, 'html.parser')

- When inspecting the table we can see it's under the table class "wikitable". 
- The tbody is the table itself. 
- The tr tags indiicate the row tables. 
- The td tag denotes the actual data.

In [48]:
#We can start at the tbody level and move down to it's children from here.
tables = data.find_all('tbody')
#Now that we have all the rows we know our data is in the td tag and we can start working with the data now. 
rows = tables[0].find_all('tr')

#We are only interested in working with the top 50 rows so we use a counter variable to handle this. 
#We are also only interested in three headers: average rank, film, and year of release.
for row in rows:
    if count<50:
        col = row.find_all('td')
        if len(col)!=0:
            data_dict = {"Average Rank": col[0].contents[0],
                         "Film": col[1].contents[0],
                         "Year": col[2].contents[0]}
            df1 = pd.DataFrame(data_dict, index=[0]) # Added index is 0 here to make simple check there is only 1 row of data. 
            df = pd.concat([df,df1], ignore_index=True) #Append row to our own df table with rearranged indices. 
            count+=1
    else:
        break

In [49]:
#Top 50 movies present
print(df)

   Average Rank                                           Film  Year
0             1                                  The Godfather  1972
1             2                                   Citizen Kane  1941
2             3                                     Casablanca  1942
3             4                         The Godfather, Part II  1974
4             5                            Singin' in the Rain  1952
5             6                                         Psycho  1960
6             7                                    Rear Window  1954
7             8                                 Apocalypse Now  1979
8             9                          2001: A Space Odyssey  1968
9            10                                  Seven Samurai  1954
10           11                                        Vertigo  1958
11           12                                    Sunset Blvd  1950
12           13                                   Modern Times  1936
13           14                             Lawrence of Arabia  1962
14           15                             North by Northwest  1959
15           16                                      Star Wars  1977
16           17                                       Parasite  2019
17           18                               Schindler's List  1993
18           19  Lord of the Rings: The Fellowship of the Ring  2001
19           20                           Shawshank Redemption  1994
20           21                          It's a Wonderful Life  1946
21           22                                   Pulp Fiction  1994
22           23                              Avengers: Endgame  2019
23           24                                    City Lights  1931
24           25                One Flew Over the Cuckoo's Nest  1975
25           26                                     Goodfellas  1990
26           27                        Raiders of the Lost Ark  1981
27           28                                   12 Angry Men  1957
28           29                       The Silence of the Lambs  1991
29           30                                    Taxi Driver  1976
30           31                            Saving Private Ryan  1998
31           32                     E.T. the Extra Terrestrial  1982
32           33                                          Alien  1979
33           34              Spider-Man: Into the Spider-verse  2018
34           35                                   Blade Runner  1982
35           36                               Double Indemnity  1944
36           37                                The Dark Knight  2008
37           38                               The Wizard of Oz  1939
38           39  Star Wars: Episode V- The Empire Strikes Back  1980
39           40                                  The Searchers  1956
40           41                             Mad Max: Fury Road  2015
41           42                                      Inception  2010
42           43          Lord of the Rings: Return of the King  2003
43           44                                     The Matrix  1999
44           45                                     Fight Club  1999
45           46                             Back to the Future  1985
46           47                          It Happened One Night  1934
47           48                The Good, the Bad, and the Ugly  1966
48           49              Lord of the Rings: The Two Towers  2002
49           50                                  All About Eve  1950

##### Filter the output to print only the films released in the 2000s (year 2000 included).

In [50]:
#Collecting films from 2000 to 2009 

#To make this comparison we first need to ensure that out data types are matching.
print(type(df['Year'][0]))
df['Year'] = pd.to_numeric(df['Year'])
print(type(df['Year'][0]))

<class 'bs4.element.NavigableString'>
<class 'numpy.int64'>

In [51]:
#Now we can filter
films_2000s = df[(df['Year'] >= 2000) & (df['Year'] <= 2009)]

In [52]:
print(films_2000s)

   Average Rank                                           Film  Year
18           19  Lord of the Rings: The Fellowship of the Ring  2001
36           37                                The Dark Knight  2008
42           43          Lord of the Rings: Return of the King  2003
48           49              Lord of the Rings: The Two Towers  2002

In [53]:
df.to_csv(csv_path)

In [54]:
#Let's store out data in a sql database 
conn = sqlite3.connect(db_name)
df.to_sql(table_name, conn, if_exists='replace', index=False)
conn.close()

The database can now be viewed on the terminal by running sqlite3 and uses common sql commands